<form action="/" method="post" accept-charset="utf-8">
  <div class="row">
    <div class="three columns">&nbsp;</div>
    <div class="six columns">
      <label for="url">Site or Page to Check</label>
      <input type="text" class="u-full-width" name="url" value="" placeholder="Paste URL here…"><br>
      <label class="u-pull-left">
        <input type="checkbox" name="recurse">
        <span>Search all pages on domain?</span>
        <small class="warning">Warning: this can take a while.</small>
      </label>
      <input type="submit" value="Scrape" class="u-pull-right">
    </div>
  </div>
</form>
